.table-container{
    text-align: center;
}
.table-data ,.table-header{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
    line-height: 1em;
    gap: 1em;
}
.table-data p, .table-header h4{
    flex: 1;
    min-width: 8em ;
}
.result-imc{
    text-align: center;
}
button{
    margin: 30px auto;

}


.good{
    color:green;
}
.low{
    color:yellow;
}
.medium{
    color:orange;
}
.high{
    color:red;
}